{% extends 'tasks/base.html' %}
{% load static %}
{% block content %}
            <div class="container">
                <h2>{{task.title}}</h2><br>
                <p>{{task.body}}</p>
                <p>Created: {{task.created_at}}</p>
                <p>Deadline: {{task.deadline}}</p>
                <p>Completed: {{task.is_completed}}</p>
                <a href="{% url 'tasks:task_update' task.pk %}">Edit</a>
                <a href="{% url 'tasks:task_delete' task.pk %}">Delete</a>
            </div>
{% endblock %}